<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<title>Artist add or edit</title>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-4 col-md-offset-3">
				<form th:object="${artist}" th:action="@{/artist/}" method="post">
					<input type="hidden"th:fiel="*{id}">
					<div class="panel-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h1 class="panel-title">
									<span th:text="*{id} != null @ 'Edit' : 'New'">Artist Information</span>
								</h1>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6 form-group">
										<label>First name:</label>
										<input type="text" class="form-control" th:fiels="*{firstName}">
									</div>
									<div class="col-md-6 form-group">
										<label>Last name:</label>
										<input type="text" class="form-control" th:fiels="*{lasttName}">
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 form-group">
										<label>Nick:</label>
										<input type="text" class="form-control" th:fiels="*{nick}">
									</div>
								</div>
							</div>
						</div>
							<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>