*{
	background-color:orange;
}

#logo{
	background-color:red;
	height:25px;
}

#menu{
	background-color:black;
	height:15px;
}

.nav{
	float:left;
	color:white;
	background-color:gray;
	height:15px;
	margin-right: 10px;
	margin-left: 10px;
	width:80px;
	text-align:center;
}

#content{
	background-color:yellow;
	height:200px;
}

#footer{
	background-color:red;
	height:10px;
}
	