html, body {
}

/* Header */

#header {
}

#logo{
	height: 8vh;
	background-color:aqua;
	line-height: 8vh;
	text-align:center;
	font-size:1.5em;
}

/* Nav */

#nav{
	height:15vh;
	background-color:blue;
	text-align:center;
	color:black;
	text-decoration:none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#nav a{
	color:black;
	text-decoration:none;
	font-size:1.5em;
	border-style: solid;
	padding-bottom: 1vh;
	padding-top: 1vh;
	padding-right: 1vw;
	padding-left: 1vw;
}

/* Main */

#main{
}

#sidebar{
	height:67vh;
	width:25vw;
	float:left;
	background-color:orange;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#sidebar::after{
	content:'';
	padding-bottom:10vh;
}

.sidemenu{
	color:black;
	text-decoration:none;
	font-size:1.5em;
}

#content{
	height:67vh;
	background-color:yellow;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
}

#content::after{
	content:'';
	padding-bottom:15vh;
}

#content p{
	margin:0;
	font-size:1.5em;
}	

/* Footer */

#footer{
	height:10vh;
	background-color:red;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
}

#footer p{
	margin-right:20vw;
	margin-bottom:5vh;
	font-size:1.5em;
}